.about {

  .banner-area {
    display: flex;
    padding: 2rem 0;

    .img {
      width: 12rem;
      height: 12rem;
      padding-right: 5rem;

      img {
        width: inherit;
        height: inherit;
        border-radius: 10rem;
      }
    }

    .description {
      p {
        line-height: 1.8rem;
        font-size: 1.3rem;
        font-weight: 400;
        color: #a4a7c1;
      }
    }
  }

  .list-area_1 {
    padding: 2.5rem 0;

    h1 {
      padding-bottom: 1rem;
    }

    .list {
      display: flex;
      align-items: center;
      padding-bottom: 1.5rem;

      .dot {
        border: .1rem #00c58e solid;
        border-radius: 5rem;
        margin-right: 1.5rem;
      }

      div {
        line-height: 1.8rem;

        * {
          padding: 0;

        }

        .date {
          color: #a4a7c1;
          font-weight: 400;
          margin: 0;
        }

        .title {
          font-size: 1.4rem;
          margin: 0;
        }

        .firm, a {
          color: #a4a7c1;
          font-size: 1.3rem;
          margin: 0;
        }
      }
    }
  }

  .list-area_2 {
    padding: 2.5rem 0;

    h1 {
      padding-bottom: 1rem;
    }

    .list {
      line-height: 2rem;

      .item {
        font-size: 1.2rem;
        font-weight: 400;
        color: #a4a7c1;

        .title {
          font-size: 1.2rem;
          font-weight: 400;
          color: #a4a7c1;
          display: inline-block;
          width: 6.5rem;
        }

        .tech {
          font-weight: 600;
        }

        &::marker {
          color: #a4a7c1;
          font-size: 1rem;
        }
      }
    }
  }

  .list-area_3 {
    padding: 2.5rem 0;

    h1 {
      padding-bottom: 1rem;
    }

    .list {

      * {
        line-height: 2.5rem;
        font-size: 1.1rem;
        color: #4a5568;
      }

      .language {
        display: inline-block;
        font-weight: 600;
        width: 10rem;
      }

      .level {
        font-weight: 400;
      }
    }

  }
}

  @media (max-width: 767px) {
    .about {
      margin-bottom: 5rem;

      .banner-area {
        flex-direction: column;

        .img {
          padding: 0 0 1rem 0;
          align-self: center;
        }
      }
    }
  }