.about {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;

  .banner-area {
    display: flex;
    padding: 2rem 0;

    .img {
      width: 12rem;
      height: 12rem;
      padding-right: 5rem;

      img {
        width: inherit;
        height: inherit;
        border-radius: 10rem;
      }
    }

    .description {
      p {
        line-height: 1.8rem;
        padding-top: 2rem;
        font-size: 1.3rem;
        font-weight: 400;
        color: #a4a7c1;
      }
    }
  }

  .list-area-large {
    padding: 3rem 0;

    h1 {
      padding-bottom: 1rem;
    }

    .list {
      display: flex;
      align-items: center;
      padding-bottom: 1.5rem;

      .dot {
        border: .1rem #00c58e solid;
        border-radius: 5rem;
        margin-right: 1.5rem;
      }

      div {
        line-height: 1.8rem;
        * {
          padding: 0;

        }
        .date {
          color: #a4a7c1;
          font-weight: 400;
        }
        .title {
          font-size: 1.4rem;
        }
        .firm, a {
          color: #a4a7c1;
          font-size: 1.3rem;
        }
      }
    }
  }
}