.footer {
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    background-color: #0d1131;
}

.footer * {
    color: #a4a7c1;
    font-weight: 500;
}

.footer .fa-heart {
    font-weight: 600;
    color: #ff4f4f;
}

.footer .fa-code {
    font-weight: 600;
}

.footer .links {
    display: inline-flex;
    font-size: 1.5rem;
    margin-top: .7rem;
}

.footer .links a {
    padding: 0 .3rem;
    transition: all .5s;
}
.footer .links i{
    transition: all .5s;
}

.footer .links a:hover i{
    color: #00c58e;
    transform: translateY(-.4rem);
}

@media (max-width: 818px) {
    .footer {
        display: none;
        margin-top: 1.4rem;
        background-color: transparent;
    }
    .footer * {
        display: none;
    }
}