.navbar {
    display: flex;
    padding: 1.9rem;
    align-items: center;
}
.navbar .brand {
    display: flex;
    text-decoration: none;
    align-items: center;
}
.navbar .brand h1 {
    color: #00c58e;
    font-weight: 600;
}

.navbar .brand .brand-image {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border: 0.1rem #00c58e solid;
    border-radius: 3rem;
    margin-right: 1rem;
}

.navbar .brand .brand-image img {
    width: 3rem;
}

.navbar .links {
    margin-left: auto;
}

.navbar .links a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0.8rem;
    border-bottom: 0.1rem transparent solid;
    transition: all .5s;
}

.navbar .links a:hover {
    border-bottom-color: #a4a7c1;
}

.navbar .bottom-links {
    display: none;
}

.navbar .top-nav-active {
    color: #00c58e !important;
}

@media (max-width: 818px) {
    .navbar {
        padding: 1rem;
    }
    .navbar .links {
        display: none;
    }
    .navbar .bottom-links {
        display: flex;
        z-index: 20;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #0d1131;
        height: 5rem;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0px -8px 38px 0px rgba(0,0,0,0.45);
    }
    .navbar .bottom-links a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #a4a7c1;
    }
    .navbar .bottom-nav-active {
        color: #00c58e !important;
    }
}