.portfolio-details {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  .banner {
    display: flex;
    margin: 2rem 0 4rem 0;

    .banner-img {
      max-width: 12rem;
      margin-right: 3rem;

      img {
        max-width: inherit;
        width: inherit;
      }
    }

    .banner-description {

      h1 {

      }

      p {
        color: #a4a7c1;
        font-weight: 400;
        display: inline-flex;
        align-items: center;

        .brand-image {
          width: 1.7rem;
          height: 1.7rem;
          overflow: hidden;
          border: 0.1rem #00c58e solid;
          border-radius: 3rem;
          margin-left: .5rem;
        }

        .brand-image img {
          width: inherit;
        }
      }
    }
  }

  .content {
    margin-bottom: 2rem;

    h1 {
      font-weight: 600;
      font-size: 1.9rem;
      border-bottom: .2rem #00c58e dotted;
    }

    p {
      color: #a4a7c1;
      line-height: 1.7rem;
      font-size: 1.2rem;
      font-weight: 400;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0 0 1rem 1.3rem;

      li {
        color: #a4a7c1;
        line-height: 1.7rem;
        font-size: 1.2rem;
        font-weight: 400;

        &::before {
          content: '\25CB';
          color: #00c58e;
          display: inline-block;
          width: 1em;
          margin-left: -1em
        }

        span {
          color: #f2f2f2;
        }
        a {
          color: #f2f2f2;
        }
      }
    }
  }
}

@media (max-width: 818px) {
  .portfolio-details {
    margin-bottom: 6rem;

    .banner {
      flex-direction: column;

      .banner-img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        img {
          width: inherit;
        }
      }
    }
  }
}