@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

* {

}

body {
    background-color: #070919 !important;
    margin: 0;
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    color: #fff;

}
.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    /*max-width: 900px;*/
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}

.border-grey {
    border-top: .1rem #a4a7c1 solid;
}

.button-green {
    color: #00c58e !important;
    text-decoration: none;
    border: 0.1rem #00c58e solid !important;
    border-radius: 0.5rem;
    padding: 0.5rem 0.9rem;
    transition: all 0.3s !important;
}

.button-green:hover {
    color: #070919 !important;
    background-color: #00c58e;
}

.link-green {
    text-decoration: none;
    color: #00c58e;
    border-bottom: 0.1rem transparent solid;
    transition: all .5s;
}

.link-green:hover {
    border-bottom-color: #00c58e;
}

.link-grey {
    text-decoration: none;
    border-bottom: 0.1rem transparent solid;
    transition: all .5s;
}

.link-grey:hover {
    border-bottom-color: #a4a7c1;
}


@media (max-width: 767px) {
    body {
        width: 100%;
    }
}








.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }
    10% {
        transform: rotate(14.0deg)
    }
    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }
    30% {
        transform: rotate(14.0deg)
    }
    40% {
        transform: rotate(-4.0deg)
    }
    50% {
        transform: rotate(10.0deg)
    }
    60% {
        transform: rotate(0.0deg)
    }
    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}

.heart {
    margin: 0 .5rem;
    display: inline-flex;
    background: #ff5252;
    position: relative;
    /*height: 1.1rem;
    width: 1.1rem;*/
    /* Animation */
    transform: rotate(-45deg) scale(1);
    animation: pulse 2s linear infinite;
}


.heart::after {
    /* background:blue; */
    background:inherit;
    border-radius: 50%; /* To make circle */
    content:'';
    position:absolute;
    /* top: -100px;*/
    top: -50%; /* Inherit properties of parent */
    /* left: -100px; */
    left:0;
    height: inherit;
    width:inherit;
}
.heart::before {
    /*  background:green; */
    background:inherit;
    border-radius: 50%; /* To make circle */
    content:'';
    position:absolute;
    top:0;
    right:-50%; /* Inherit properties of parent */
    height: inherit;
    width:inherit;
}

@keyframes pulse{
    0% {
        transform: rotate(-45deg) scale(1);
        opacity: 0;
    }/*
    10% {
        transform: rotate(-45deg) scale(1.3);
    }
    20% {
        transform: rotate(-45deg) scale(0.9);
    }
    30% {
        transform: rotate(-45deg) scale(1.2);
    }
    40% {
        transform: rotate(-45deg) scale(0.9);
    }*/
    50% {
        transform: rotate(-45deg) scale(1.3);
        opacity: 1;
    }/*
    60% {
        transform: rotate(-45deg) scale(0.95);
    }
    70% {
        transform: rotate(-45deg) scale(1);
    } */
    100% {
        transform: rotate(-45deg) scale(1);
        opacity: 1;
    }
}
