@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    color: #fff;
}

body {
    background-color: #070919 !important;
}

.green-button {
    color: #00c58e;
    text-decoration: none;
    border: 0.1rem #00c58e solid !important;
    border-radius: 0.5rem;
    padding: 0.5rem 0.9rem;
    margin: 0.5rem;
    transition: all 0.3s !important;
}

.green-button:hover {
    color: #070919;
    background-color: #00c58e;
}

